body {
    background: url("../images/background.jpg") no-repeat;
}

#logo {
    width: 300px;
    height: 150px;
}
#navBar {
    float: left;
}
#navList {

}
#header {

}
.navItem {

}
.navLink {
    
}
.clear {
    clear: both;
}
