body {
    background: url("../images/background.jpg") no-repeat;
    margin: 0;
    padding: 0;
}
#header {
    background-color: #ffffff;
    height: 160px;
    opacity: 0.8;
}
#logoContainer {
    float: left;
    display: inline-block;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
    height: 150px;
    width: 300px;
}
#logo {
    width: 300px;
    height: 150px;
}
#navBar {
    width: 1135px;
    margin: 63px auto 63px auto;
    display: inline-block;
    float: left;
}
#navList {
    margin-left: 115px;
    text-align: center;
    list-style: none;
}
.navItem {
    float: left;
    margin-right: 95px;
}
.navLink {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #39156E;
    text-decoration: none;
}
.navLink:hover {
    color: #E06C58;
}
.clear {
    clear: both;
}
#footer {

}
