body {
    margin: 0;
    padding: 0;
}
#content {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    justify-content: center;
}
.spacer {
    height: 50px;
}
.col-4 {
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 1;
    float: left;
    width: 300px;
    height: 375px;
    margin: 25px 20px 10px 35px;
    padding: 7px 7px 7px 7px;
}
.col-4-image {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 225px;
    width: 300px;
}
.col-4-text {
    text-align: center;
    font-size: 18px;
    margin: 12px 5px
}
.col-4-header {
    text-align: center;
    margin: 10px auto;
}
.columnContainer {
    background-color: #ededed;
}
#heroContainer {
    background: url("../images/background.jpg") no-repeat center;
    height: 85vh;
    width: 100%;
    text-align: center;
}
.heroSpacer {
    height: 10vh;
}
@media screen and (min-height: 330px) {
    #heroTextContainer {
        width: 1000px;
        margin: 10vh auto;
    }
}
@media screen and (max-height: 330px) {
    #heroTextContainer {
        display: none;
    }
    #buttonContainer {
        display: none;
    }
}
#heroHeading {
    color: #ffffff;
    font-size: 40px;
    margin: 20px 0;
}
#heroSecondaryHeading {
    color: #ffffff;
    font-size: 35px;
    width: 70%;
    margin: 5px auto;
}
#heroParagraph {
    font-size: 16px;
    width: 50%;
    margin: 15px auto;
}

#buttonContainer {
    height: 100px;
    margin-top: 25px;
}

.button {
    border: solid #ffffff;
    border-radius: 5px;
    padding: 10px 35px;
    color: #ffffff;
    font-size: 20px;
    margin-right: 35px;
    margin-left: 35px;
}
.buttonLink {
    text-decoration: none;
    color: #ffffff;
}
.button:hover {
    background-color: #000000;
}
.buttonLink:hover {
    text-decoration: none;
}



