body {
    margin: 0;
    padding: 0;
}
.spacer {
    height: 50px;
}
#content {
    /*background: url("../images/background.jpg") no-repeat center;*/
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
#residentialProjects {
    background: url("../images/background.jpg") no-repeat center;
    padding: 50px 20px;
    height: 600px;
}
#commercialProjects {
    background: url("../images/background.jpg") no-repeat center;
    padding: 50px 20px;
    height: 600px;
}

.proContainer {
    margin: 0 auto;
}

.projectContainer {
    border-radius: 5px;
    background-color: #ffffff;
    height: 580px;
    width: 75%;
    margin: 0 auto;
}
.projectHeader {
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 25px 25px 0 70px;
}
.project {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    margin: 25px 25px 15px 25px;
}
.projectImage {
    border-radius: 3px;
    text-align: center;
    width: 200px;
    height: 100px;
}
.projectHeading {
    padding-left: 5px;
    text-align: left;
    margin: 5px auto;
}
.projectText {
    padding-left: 5px;
    text-align: left;
    font-size: 14px;
}
.project:hover {
    opacity: 0.7;
    transition: 0.3s;
}
