body {
    background: url("../images/darkwall.jpg") no-repeat;
    margin: 0;
    padding: 0;
}
.spacer {
    height: 50px;
}
#content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    height: 800px;
}
#ServicesContainer {
    height: 600px;
    width: 90%;
    padding: 30px 0 25px 0;
    margin: 0 auto;
}
.Services-Col {
    background-color: #ffffff;
    border-radius: 5px;
    height: 500px;
    width: 30%;
    margin: 40px 20px;
    float: left;
}
.ServicesHeader {
    color: #ffffff;
    font-size: 35px;
    margin: 10px auto;
}
.ServicesImage {
    width: 80%;
    height: 300px;
    padding-top: 10px;
}
.ServicesParaHeader {
    margin: 10px auto;
}
.ServicesPara {
    margin:  0 8px;
    text-align: left;
}